{:kotoba.app/id "cloud.itonami.isic-5223", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicmm7fducbttcok6khig55mo7upmjf2fkeuhznk6hbcct2shi2osy", :kotoba.app/embed-url "ipfs://bafkreicmm7fducbttcok6khig55mo7upmjf2fkeuhznk6hbcct2shi2osy", :published {:archive "https://kotobase.net/ipfs/bafkreicmm7fducbttcok6khig55mo7upmjf2fkeuhznk6hbcct2shi2osy", :size 73436, :put-status 201, :get-status 200, :at "2026-08-15T13:42:07.923Z"}}
